.tt, .phar{
	font-family: "Merriweather",serif;
	color:#3f4346;
}
.tt-2{
	font-size: 32px;
	font-weight: bold;
}
.page{
	position: relative;
}
.participe-index-single #header.headerInt{
	height: 580px !important;
}
.finalista-page #header.headerInt{
	height: 580px !important;
}

.finalista-page .main-article .phar{
	margin-top:0 !important;
	margin-left:0 !important;
}

.finalista-page .main-article #bloco15{
	  top: 262px !important;
}
.sucesso #header.headerInt{
	height: 200px !important;
}

#header.headerInt{
  	width: 100%;
  	max-width: 100%;
	height: 355px;
}
}
#headerBig.headerIntBig{
  	width: 100%;
  	max-width: 100%;
	height: 620px;
} 
#header.headerInt .page-header-container{
	border:0;
}
#headerBig.headerIntBig .page-header-container{
	border:0;
}
.breadcrumbs {
  background: transparent;
  top: 110px;
  position: absolute;
  z-index: 9999;
}
.televendas{
	display: none;
}

.main-article{
	position: absolute;
  	top: -420px;
  	left: 0;
  	right: 0;
  	margin: auto;

}
.main-article .img-box{
	  float: left;
	  width: 45%;
	  height: 362px;
}

.main-article .img-box img{
	width: 100%;
	height: 100%;
}
.right-box{
	margin-left: 20px;
	float: left;
	width: 50%;
}
.main-article .phar{
	font-size: 24px;
	margin-top: 240px;
}
.phar{
	width: 84%;
  	line-height: 1.5;
}
.main-article #bloco15{
	top: 191px;
	left: auto;
	right: 411px;
}

.finalistas{
	width: 1190px;
	margin: auto;
	overflow: hidden;
}
.finalistas .finalista{
	width: 24%;
  	float: left;
  	min-height:330px;
  	border: 1px solid #cfcfcf;
  	margin-left: 10px;
}
.finalistas .finalista .box{
	min-height: 284px;
	padding: 2px;
	border-bottom: 1px solid #6c6c6c;
}
.finalistas .finalista .phar{
	width: 95%;
	margin-left: 10px;
}
.finalistas .finalista .box img{
	width: 100%;
}
.finalistas .finalista .action{
	min-height: 131px;
}
.finalistas .finalista .action .tt.tt-4{
	font-size: 18px;
	font-weight: bold;
	text-transform: normal;
	margin-left: 15px;
	margin-top: 30px;
}

.finalistas .finalista .action .phar{
	color: #6c6c6c;
	font-size: 14px;
	font-weight: bold;
	margin-left: 15px;
}
.finalistas .finalista .action .fb-like{
	margin-left: 15px;
	margin-top: 10px;
}

.count-down .count-title{
	color:#813354;
	font-size: 20px;
	font-weight: bold;
	text-transform: none;
}

.count-down .wrapcount{
	float: left;
	color:#813354;
	font-size: 24px;
	display: inline-block;
	text-align: center;
	font-weight: bold;
}
.count-down .wrapcount .legend{
	display: block;
	font-size: 12px;
	color: #3f4346;
	margin-top: 10px;
	font-weight: bold;
}
.count-down .pontos{
	float: left;
	font-size: 20px;
	text-align: center;
}
.phar.link{
	color: #3f85cc;
	text-decoration: underline;
	margin: 10px 0;
}

.main-article.main-single #bloco15 {
  top: 256px;
  left: auto;
  right: 0px;
}

.count-down{
	float: left;
	margin-top: 21px;
}
.participe-button{
	width: 50%;
	height: 45px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #9775a3;
	text-align: center;
	text-transform: none;
	font-family: "Merriweather",serif;
	font-size: 20px;
	color: #fff;
	display: block;
	clear: both;
	line-height: 45px;
	margin: 20px 1px;
}
.participando{
	  margin: auto;
	  width: 1050px;
	  overflow: hidden;
	  text-align: center;
	  padding: 100px 0;
}
.participando .phar{
	font-size: 20px;
	text-align: center;
  	float: none;
}
.participe-action{
  margin: auto;
  width: 1050px;
  overflow: hidden;
  text-align: center;
}
.form-left{
	float: left;
	width: 40%;
}
.form-left label{
	display: block;
	color: #ababab;
	font-size: 12px;
	text-align: left;
	margin: 10px 0;
}
.form-left .input-text{
	width: 100%;
	border-radius: 10px;
}
.form-right{
	float: left;
	width: 40%;
}

.form-right label{
	display: block;
	color: #ababab;
	font-size: 12px;
	text-align: left;
	margin: 10px 0;
}