<?php 
	$collection = 	Mage::getModel('participe/participe')->getCollection();
	$todayDate 	= 	Mage::getModel('core/date')->date('Y-m-d');
	$pathMedia 	= 	Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA);
    $session = Mage::getSingleton('customer/session', array('name'=>'frontend'));
?>
<div class="main-container col1-layout">
    <div class="main">
        <div class="col-main <?php if(Mage::getSingleton('cms/page')->getIdentifier() == 'home'  && Mage::app()->getFrontController()->getRequest()->getRouteName() == 'cms') : ?>col-Home<?php else: ?><?php if(Mage::getURL('checkout/onepage') == Mage::helper('core/url')->getCurrentUrl()) ?>col-checkout<?php endif ?>">
            
            <article class="main-article">
                <div style="text-align:center;">
                    <div class="text-box">
                        <p class="phar">
                            São as pequenas felicidades do dia a dia que fazem a vida valer a pena.
                            As experiências, os instantes, as histórias.
                            E o melhor de viver em um mundo colaborativo é poder compartilhar isso tudo.
                            Esse é o compromisso da Bemglô.
                        </p>
                    </div>
                </div>
            </article>
            <!-- PROMOCOES ATIVAS -->
            <section class="finalistas">
            	<h2 style="font-size:28px; color:#3f4346; display:block; line-height:4; margin: 0 0 0 3%; text-transform: none;"><strong>Promoções Ativas:</strong></h2>
                <?php foreach($collection as $promocao): ?>
                	<?php if(strtotime($promocao->getData_vigencia()) > strtotime($todayDate)):?>
		                <article class="finalista">
		                    <div class="box">
		                        <img src="<?php echo $pathMedia."participe/".$promocao->getImg_promo()?>" alt="">
		                    </div>
		                    <div class="action">
		                        <h3 class="tt tt-4" style="text-transform: none;"><?php echo $promocao->getTitulo_promo();?></h3>
		                        <p class="phar"><?php echo substr($promocao->getDesc_promo(), 0, 150);?></p>
		                        <div id="count_<?php echo $promocao->getId();?>" class="count-promo" data-vigencia="<?php echo $promocao->getData_vigencia();?>">
				                        
			                    </div>
                                <?php if($session->isLoggedIn()): ?>
                                    <a href="<?php echo '/participe/index/single?id='.$promocao->getId();?>"><span class="participe-button" style="width: 85%; margin: 20px auto;"><em>Participar</em></span></a>
                                <?php else: ?>
                                    <a style="width: 90%;" href="/customer/account/login/?redirect_uri=<?php echo 'participe/index/single?id='.$promocao->getId();?>">
                                        <span class="participe-button" style="font-size:16px;width: 85%; margin: 20px auto;"><em>Faça o login para participar</em></span></a>
                                <?php endif;?>
		                    </div>
		                </article>
		            <?php endif;?>
		        <?php endforeach;?>
            </section>
            <!-- / PROMOCOES ATIVAS -->

            <!-- PROMOCOES ENCERRADAS -->
            <section class="finalistas">
            	<h2 style="font-size:28px; color:#3f4346; display:block; line-height:4; margin: 0 0 0 3%; text-transform: none;"><strong>Promoções Encerradas:</strong></h2>
            	<?php foreach($collection as $promocao): ?>
                	<?php if(strtotime($promocao->getData_vigencia()) <= strtotime($todayDate)):?>
		                <article class="finalista" style="height: 430px;">
		                    <div class="box">
		                        <img src="<?php echo $pathMedia."participe/".$promocao->getImg_promo()?>" alt="">
		                    </div>
		                    <div class="action">
		                        <h3 class="tt tt-4" style="text-transform: none;"><?php echo $promocao->getTitulo_promo();?></h3>
		                        <?php if($session->isLoggedIn()): ?>
                                    <a href="<?php echo '/participe/index/single?id='.$promocao->getId();?>"><span class="participe-button" style="width: 85%; margin: 20px auto;"><em>Ver Promoção</em></span></a>
                                <?php else: ?>
                                    <a style="width: 90%;" href="/customer/account/login/?redirect_uri=<?php echo 'participe/index/single?id='.$promocao->getId();?>">
                                        <span class="participe-button" style="font-size:16px;width: 85%; margin: 20px auto;"><em>Faça o login para visualizar</em></span></a>
                                <?php endif;?>
		                    </div>
		                </article>
		            <?php endif;?>
		        <?php endforeach;?>
            </section>
            <!--/ PROMOCOES ENCERRADAS -->
        </div>
    </div>
</div>
<script type="text/javascript">
    (function($, undefined){
        func.listPromos();
        func.init('/skin/frontend/innersite/bemglo/images/bemglo-banner.jpg');
    })(jQuery);
</script>