<?php
    $promocao               = $this->getPromo();
    $finalistas             = $this->getFinalistas(); 
    $pathMedia              = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA);
    $current_url            = Mage::helper('core/url')->getCurrentUrl();
    $todayDate              = Mage::getModel('core/date')->date('Y-m-d');
    $session                = Mage::getSingleton('customer/session', array('name'=>'frontend'));
    $customer               = Mage::getSingleton('customer/session')->getCustomer();
    $info_vote_finalista    = $this->getInfoVoteParticipante();

?>
<div class="main-container col1-layout">
    <div class="main">
        <div class="col-main <?php if(Mage::getSingleton('cms/page')->getIdentifier() == 'home'  && Mage::app()->getFrontController()->getRequest()->getRouteName() == 'cms') : ?>col-Home<?php else: ?><?php if(Mage::getURL('checkout/onepage') == Mage::helper('core/url')->getCurrentUrl()) ?>col-checkout<?php endif ?>">
            <article class="main-article main-single">
                <div class="img-box">
                    <?php echo $promocao->getVideo_promo();?>
                </div>
                <div class="right-box">
                    <div class="text-box">
                        <h2 class="tt tt-2" style="text-transform: none;">
                            <?php echo $promocao->getTitulo_promo();?></h2>
                        <p class="phar" style="margin-top:40px!important; font-size: 20px; width: 585px;">
                            <?php echo substr($promocao->getDesc_promo(), 0, 200);?>
                        </p>
                        <a href="#" class="phar link" style="font-size: 18px; float: left">Confira o regulamento</a>
                        <div class="count-down" style="margin-top:5px">
                            <h4 class="count-title" style="line-height:1">A promoção acaba em </h4>
                            <div id="count-down-main-promo" data-vigencia="<?php echo $promocao->getData_vigencia();?>"></div>

                            <a href="#participe" class="participe-button" style="  margin-top: 70px; width: 80%;"><em>Participar</em></a>
                        </div>
                        <div id="bloco15" class="wcol01 hcol03 blockPosition" style="top:255px; right: 100px">
                            <p>Compartilhe nossos momentos:</p>
                            <ul>
                                <li><a class="btnFacebook" title="Facebook" href="https://www.facebook.com/bemglo" target="_blank"><span>Facebook</span></a></li>
                                <li><a class="btnTwitter" title="Twitter" href="https://twitter.com/bemglo" target="_blank"><span>Twitter</span></a></li>
                                <li><a class="btnPinterest" title="Pinterest" href="http://www.pinterest.com/bemglo/" target="_blank"><span>Pinterest</span></a></li>
                                <li><a class="btnVimeo" title="Vimeo" href="https://vimeo.com/bemglo" target="_blank"><span>Vimeo</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </article>
            <section class="participando" style="padding-top:70px">
                <p class="phar">
                    <?php echo $promocao->getDesc_promo();?>
                </p>
            </section>
            <hr>
        <?php if((strtotime($promocao->getData_vigencia()) > strtotime($todayDate)) && $promocao->getStatus() == 1):?>
            <?php if($session->isLoggedIn()) :?>
                <section id="participe" class="participe-action" style="margin-left:150px">
                    <h3 style="font-size:32px; line-height: 4; text-transform: none;"><strong>Participe aqui!</strong></h3>
                    <form action="<?php echo $this->getUrl('participe/index/participacao');?>" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="form_key" value="<? echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
                        <input type="hidden" name="id_promocao" value="<? echo $promocao->getId(); ?>" />
                        <input type="hidden" name="tipo_promocao" value="<? echo $promocao->getTipo_promo(); ?>" />
                        <div class="form-left">
                            <label for="name" class="required" style="font-family: verdana; padding-left: 10px;">Nome</label>
                            <input name="nome_usuario" id="name" title="Nome" value="<?php echo $customer->getName();?>" class="input-text required-entry" type="text" />

                            <label for="url" class="required" style="font-family: verdana; padding-left: 10px;">Email</label>
                            <input name="email_usuario" id="email" title="Email" value="<?php echo $customer->getEmail();?>" class="input-text required-entry" type="email" style="border-radius: 10px; border-bottom:1px solid #c7cbcf; font-family: verdana; "/>
                            <?php if($promocao->getTipo_promo() == 3):?>
                                <label for="url" class="required" style="font-family: verdana; padding-left: 10px;">Link do vídeo</label>
                                <input name="url" id="url" title="Url" value="" class="input-text required-entry" type="text" />
                            <?php endif;?>

                            <?php if($promocao->getTipo_promo() == 2):?>
                                <input name="MAX_FILE_SIZE" type="hidden" value="2000000" />
                                <input type="file" name="foto_participacao_promo" class="participe-button"><em>Anexar foto</em></a>
                            <?php endif;?>
                            <br/>
                            <input type="checkbox" style="margin-left:-245px;"/><span style="font-family: verdana;; font-weight:bold; padding-left:5px; color:#333">Lorem ipsum dolor.</span></input>
                        </div>
                        <?php if($promocao->getTipo_promo() == 1):?>
                            <div class="form-right" style="float:left; margin-left:40px">
                                <label for="message" class="required" style="display: block; color: #ababab; font-family: verdana; font-size: 12px; text-align: left; margin: 10px 0;padding-left: 30px;">Mensagem</label>
                                <textarea name="message" id="" cols="30" rows="20" style="border-radius: 10px; margin-left: 15px;"></textarea>
                            </div>
                        <?php endif;?>
                        <button type="submit" class="participe-button" style="margin-left:225px"><em>Participar</em></button>
                    </form>
                </section>
            <?php else:?>
                <section id="participe" class="participando" style="padding-top:70px">
                    <p class="phar">
                        Favor fazer o login aqui <a href="/customer/account/login/?redirect_uri=<?php echo 'participe/index/single?id='.$promocao->getId();?>">Faça o login para participar!</a>
                    </p>
                </section>
            <?php endif;?>
        <?php elseif((strtotime($promocao->getData_vigencia()) < strtotime($todayDate)) && $promocao->getStatus() == 2): ?>
            <section class="finalistas">
                <h2 style="font-size:28px; color:#3f4346; display:block; margin: 30px 0 0 5px; text-transform: none;"><strong>Finalistas:</strong></h2>
                <?php foreach ($finalistas as $finalista): ?>
                    <article class="finalista" style="margin-top:30px">
                        <div class="box">
                            <?php if($finalista['tipo_promocao'] == 1): ?>
                                <p class="phar"><?php echo $finalista['mensagem'];?></p>
                            <?php elseif($finalista['tipo_promocao'] == 2): ?>
                                <img src="<?php echo $pathMedia."participe/"."participacao/".$finalista['foto_participacao_promo'];?>" alt="">
                            <?php elseif($finalista['tipo_promocao'] == 3):?>
                                <iframe width="100%" height="100%" src="<?php echo $finalista['url_video'];?>" frameborder="0" allowfullscreen></iframe>
                            <?php endif;?>
                        </div>
                        <div class="action">
                            <h3 class="tt tt-4" style="text-transform: none;"><?php echo $finalista['nome_usuario'];?></h3>
                            <p class="phar">Clique aqui para votar</p>
                            <a href="#" class="participe-button votar" data-id-promocao="<?php echo $finalista['id_promocao'];?>" data-id-participacao="<?php echo $finalista['participacao_id'];?>" style="margin-left:70px"><em>Votar</em></a>
                            <p class="count-votes"><?php echo $info_vote_finalista[$finalista['participacao_id']];?></p>
                        </div>
                    </article>
                <?php endforeach;?>
            </section>
        </div>
        <?php endif;?>
    </div>
</div>
<script type="text/javascript" src="/skin/frontend/innersite/bemglo/js/functions.js"></script>
<script type="text/javascript">
    (function($, undefined){
        func.init('<?php echo $pathMedia."participe/".$promocao->getBg_promo()?>');
        func.single();
    })(jQuery);
</script>