<div class="main-container col1-layout">
    <div class="main">
        <div class="col-main <?php if(Mage::getSingleton('cms/page')->getIdentifier() == 'home'  && Mage::app()->getFrontController()->getRequest()->getRouteName() == 'cms') : ?>col-Home<?php else: ?><?php if(Mage::getURL('checkout/onepage') == Mage::helper('core/url')->getCurrentUrl()) ?>col-checkout<?php endif ?>">
            
            <p style="font-size:22px; color:#6a6a6a; display:block; margin:0 auto; text-align:center; line-height:1.5; width:600px"><strong>Parabéns, você está participando!<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong></p>
            <a href="#"><p style="color:#853b54; text-decoration:underline; font-size:18px; line-height:6; text-align:center">Ver outras promoções</p></a>
            <div id="bloco15" style="margin: 0 auto; width:300px">
                <p style="margin: 0 0 0 25px; text-align:left!important">Compartilhe:</p>
                <ul>
                    <li><a class="btnFacebook" title="Facebook" href="https://www.facebook.com/bemglo" target="_blank"><span>Facebook</span></a></li>
                    <li><a class="btnTwitter" title="Twitter" href="https://twitter.com/bemglo" target="_blank"><span>Twitter</span></a></li>
                    <li><a class="btnPinterest" title="Pinterest" href="http://www.pinterest.com/bemglo/" target="_blank"><span>Pinterest</span></a></li>
                    <li><a class="btnVimeo" title="Vimeo" href="https://vimeo.com/bemglo" target="_blank"><span>Vimeo</span></a></li>
                </ul>
            </div>
            
        </div>
    </div>
</div>
<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>